<html>
<head>
  <%- include('partials/head', { title: "Video" }); %>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
  <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
</head>
<body>
    <%- include('partials/header', { user: user }); %>

    <main class="video-container">
      <div class="video-player">
        <video id="player" playsinline controls>
          <source src="<%= video.video %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
  
      <div class="video-info-container">
        <h1 class="video-title"><%= video.title %></h1>
  
        <div class="creator-info">
          <div class="creator-avatar">
            <img src="https://cdn.discordapp.com/avatars/<%= video.uploader.userId %>/<%= video.uploader.avatar %>.png?size=4096" class="mr-3 rounded-circle" alt="Creator's avatar" style="width: 64px; height: 64px;">
          </div>
          <div class="creator-details">
            <div class="creator-name"><%= video.uploader.global_name %></div>
          </div>
        </div>
  
        <div class="video-description"><%= video.description %></div>
      </div>
    </main>
  
    <script>
      const player = new Plyr('#player', {
        controls: [
          'play-large',
          'play',
          'progress',
          'current-time',
          'mute',
          'volume',
          'fullscreen'
        ],
        settings: ['quality', 'speed']
      });
    </script>
</body>
</html>