<%- include('partials/header', { title: "Home" }) %>

<div class="container">
    <h1 class="mt-5">Welcome to MubiTubi</h1>
    <p class="lead">This is the home page.</p>

    <div class="row">
        <% if (videos.length > 0) { %>
            <% let hasVerifiedVideos = false; %>
            <% videos.forEach(function(video) { %>
                <% if (video.verified) { %>
                    <% hasVerifiedVideos = true; %>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="<%= video.thumbnail %>" class="card-img-top" alt="<%= video.title %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= video.title %></h5>
                                <p class="card-text text-muted">Uploader: <%= video.uploader.global_name %></p>
                                <a href="/video/<%= video.id %>" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
            <% if (!hasVerifiedVideos) { %>
                <p class="text-muted">No videos available... Maybe you can upload one!</p>
            <% } %>
        <% } else { %>
            <p class="text-muted">No videos available... Maybe you can upload one!</p>
        <% } %>
    </div>
</div>

<%- include('partials/footer') %>